:root {
  --primary-color: #ec1f55;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
    background: linear-gradient(170deg, #ceaf5f 0%, #980404 100%);
}
html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
  border-radius: 32px;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: var(--text-color);
  font-size: 20px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  border: 4px solid transparent;
  box-shadow: 0 0 20px rgba(255, 105, 180, 0.5);
  transition: transform 0.3s ease-in-out;
  background-color: #333;
  background-size: cover;
  margin: auto;
}


/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  -webkit-transition: 0.2s;
  height: 8px;
  background: #d3d3d3;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 14px;
  background-color: var(--primary-color);
  border-radius: 16px;
  cursor: pointer;
}

/* PLAYLIST */
.playlist {
  margin-top: 408px;
  padding: 12px;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px 16px;
  border-radius: 16px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
  background-color: rgba(255, 255, 255, 0.2); 
  border: 3px solid var(--primary-color);
}


.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}


.control .btn-toggle-play {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  box-shadow: 0px 4px 10px rgba(255, 75, 43, 0.4);
}

/* Switch button */
.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
}

.dark-mode-toggle input {
  display: none;
}

.toggle-label {
  width: 55px;
  height: 30px;
  background: #ccc;
  display: block;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;
}

.toggle-label::after {
  content: "";
  width: 25px;
  height: 25px;
  background: white;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: 0.3s;
}

#darkModeSwitch:checked + .toggle-label {
  background: #333;
}

#darkModeSwitch:checked + .toggle-label::after {
  left: calc(100% - 24px);
  background: #ffcc00;
}

/* Dark Mode Styles */
.dark-mode {
  background: linear-gradient(200deg, #031749e5 0%, #a3acd1  100%);
  color: white;
}

.dark-mode .dashboard {
  background: #1e1e1ef2;
}

.dark-mode header h2 {
  color: white;
}

.dark-mode .song {
  background: #222;
}

.dark-mode .song.active {
    border-color: #d0c52d;
}


