html{
    background-color: pink;
    align-content: center;
}

body{
    border-radius: 32%;
    column-rule: 0;
    align-items: center;
}

label, input{
    align-content: center;
}
div{
    border-style:dotted;
    margin-top: 0%;
    width: 500px;
    height: fit-content;
}